[user]
	name = Rune Lausen
	email = rune@lausennet.dk
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	; autocrlf = input
	; filemode = false
[alias]
	ci = commit
	co = checkout
	distclean = "!f(){ git clean $1 && git submodule foreach --recursive git clean $1; };f"
	substat = submodule status --recursive
	subsync = submodule sync --recursive
	subup = submodule update --init --recursive
	stat = status -s
	undomerge = merge --abort
	ctags = !.git/hooks/ctags
[merge]
	tool = opendiff
[push]
	default = simple
[init]
	templatedir = ~/.git_templates

[includeIf "gitdir:~/development/"]
    path = .gitconfig-work
