[user]
	name = Rune Enggaard Lausen
	email = rel@ordbogen.com
[color]
	ui = true
[core]
	editor = vim
	autocrlf = input
	excludesfile = /c/Users/rel/gitignore-global
[credential]
	helper = !\"C:/Program Files (x86)/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\"
[alias]
	ci = commit
	co = checkout
	distclean = "!f(){ git clean $1 && git submodule foreach --recursive git clean $1; };f"
	subup = submodule update --init --recursive
	stat = status -s
	undomerge = merge --abort
	ctags = !.git/hooks/ctags
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[push]
	default = simple
[init]
	templatedir = c:/Users/rel/git-templates
